.auth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../img/gym.png') center center / cover no-repeat;
}
.auth::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.auth__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);  
  z-index: 20;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome__logo {
  display: block;
  max-width: 100%;
  margin-bottom: 40px;
}
.welcome__img{
  display: block;
  width: 160px;
}
.welcome__btn {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #ffffff;
  padding: 16px 20px;
  text-transform: uppercase;
  background-color: #f89513;
  border-radius: 4px;
  transition: .6s;
  text-align: center;
}
.welcome__btn:hover {
  background-color: #131415;;
}