.billet-hor__img {
  margin-right: 14px;
  display: inline-block;
  width: 18%;
}
.billet-hor__pic {
  max-width: 160px;
  /* height: 160px; */
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
}
.billet-hor__desc {
  display: inline-block;
  width: 77%;
  vertical-align: top;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal
}
.billet-hor__data {
  font-size: 14px;
  font-weight: 300;
  opacity: .8;
  margin-bottom: 9px;
}
.billet-hor__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 9px 0;
}
.billet-hor__text {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 1.67;
}