.header {
  background: #131415;
  
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 17px;
}
.header__nav {
  color: #fff;
}