.network h5 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.network__list {
  display: flex;
  justify-content: center;
}
.network__item:hover {
  background-color: #f89513;
}
.network__item {
  display: inline-block;
  margin-right: 11px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: .5s;
}
.network__item:last-child {
  margin-right: 0;
}
.network__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(../../img/sprite-network.png);
}
.network__item--vk::after {
  background-position: -41px -39px;
  width: 12px;
  height: 7px;
}
.network__item--fb::after {
  background-position: -77px -10px;
  width: 6px;
  height: 13px;
}
.network__item--google::after {
  background-position: -10px -10px;
  width: 15px;
  height: 9px;
}
.network__item--tw::after {
  background-position: -10px -39px;
  width: 11px;
  height: 9px;
}
.network__item--mail::after {
  background-position: -45px -10px;
  width: 12px;
  height: 9px;
}