/* .new-all {
  display: flex;
  flex-direction: row;
} */
.new-all__img {
  margin-right: 20px;
  display: inline-block;
}
.new-all__pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
}
.new-all__desc {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal
}
.new-all__data {
  font-size: 14px;
  font-weight: 300;
  opacity: .8;
  
}
.new-all__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 4px 0;
}
.new-all__text {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}