.news {
  display: block;
  padding-top: 30px;
  margin: 0 auto;
}
.news h2 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 49px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: 1.47px;
  text-transform: uppercase;
  margin-bottom: 70px;
  text-align: center;
}
.news__all-top {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 42px;
}
.news__news-top {
  min-width: 15%;
  vertical-align: top;
  text-align: left;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 2.4px;
  color: #221f1f;
  font-size: 12px;
  padding-top: 4px;
}
