.news__all {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 42px;
}
.news-all__list {
  display: inline-block;
  max-width: 84%;
  vertical-align: top;
}
.news-all__item {
  width: 100%;
  display: block;
  margin-bottom: 26px;
}
.news-all__img {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
  margin-right: 20px;
}
.news-all__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news-all__desc {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal
}
.news-all__data {
  font-size: 14px;
  font-weight: 300;
  opacity: .8;
  
}
.news-all__desc span {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 4px 0;
}
.news-all__desc p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.news-all__item::before {
  content: "";
  display: block;
  width: 88%;
  height: 1px;
  background-color: #f5f5f5;
  margin: 0 auto;
  margin-bottom: 29px;
}
.news-all__item:first-child::before {
  display: none;
}