.pagination {
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #656464;
  padding: 61px 0 50px;
  width: 89%;
}
.pagination__display {
  display: inline-block;
  font-weight: 300;
  margin-right: 14px;
  vertical-align: middle;
}
.pagination__nav {
  display: inline-block;
}
.pagination__prev {
  display: inline-block;
  font-weight: 600;
  opacity: .6;
  margin-right: 12px;
  vertical-align: middle;
}
.pagination__next {
  display: inline-block;
  font-weight: 600;
}
.pagination--reviews-servises {
  padding-top: 47px;
  width: 69%;
}