.servises-add {
  background-color: #131415;
  color: #fff;
  font-family: 'Onep Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.67;
  background-image: url('../../img/pattern.png');
  margin-bottom: 34px;
}
.servises-add span {
  font-weight: bold;
  color: #f89513;
}
.servises-add__container {
  padding: 30px 26px;
}